body {
    color: #FFFFFF;
    background-color: #000000;
    background-image: url('static.jpg');
    background-attachment: fixed;
    background-repeat: repeat;
    text-align: center;
    width: 600px;
}

div {
    background-color: rgb(33, 34, 46);
    padding: 20px 10px;
    border: 3px solid rgb(255, 255, 255);
    margin-bottom: 20px;
}